:root {
    --blue: #109eff;
    --headerBg: #222;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    transition: color 0.5s ease; 
}

a:hover {
    text-decoration: none;
    color: var(--blue);
}

.display-off {
    display: none;
}

.display-on {
    display: block;
    transform: translateX(0);
}

.clear {
    clear: both;
}

/* ----------header----------- */

.header {
    padding-bottom: 20px;
}

.top-nav {
    padding: 10px 0;
    width: 100%;
    height: 46px; 
    background: var(--headerBg);
}

.header-logo {
    margin: 0;
    font-size: 22px;
}

.logo-link, .top-nav-link {
    color: #fff;
}

.top-nav-list {
    margin: 0;
    text-align: right; 
}

.top-nav-item {
    font-size: calc(8px + (12 - 8) * ((100vw - 300px) / (1600 - 300)));
    text-transform: uppercase;
}

.hamburger-menu {
    position: relative; 
    margin-right: 0;
    width: 30%;
    float: right; 
}

.burger-slice {
    display: block;
    margin: 3px 0; 
    width: 20px;
    height: 3px;
    background: #fff;
    border-radius: 5px; 
}

.burger-list {
    position: absolute; 
    top: 20px;
    left: -95px; 
    z-index: 2; 
}

.burger-list-item {
    text-transform: uppercase;
    font-size: 12px; 
    opacity: 0.75;
}

.burger-link {
    color: #000;
}

.jumbo-sec {
    background: url(../media/turntables.jpeg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}

.jumboheader {
    font-size: 4em;
}

.jumbotext {
    text-transform: capitalize;
}

@media (min-width: 768px) {
    .txt-right {
        text-align: right; 
    }
}

.following-count a, .follower-count a {
    color: #fff;
}

.search-section {
    padding: 30px 0;
}

.search {
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
}

.search-btn {
    background: #222;
    text-transform: uppercase;
}

.album-img {
    width: 100%;
}