:root {
    --blue: #109eff;
    --headerBg: #222;
    --bodyBg: #eaebee;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: var(--bodyBg);
    color: #222;
}

a {
    transition: color 0.5s ease; 
}

a:hover {
    text-decoration: none;
    color: var(--blue);
}

.display-off {
    display: none;
}

.display-on {
    display: block;
    transform: translateX(0);
}

.clear {
    clear: both;
}

/* ----------header----------- */

.header {
    padding-bottom: 20px;
}

.top-nav {
    padding: 10px 0;
    width: 100%;
    height: 46px; 
    background: var(--headerBg);
}

.header-logo {
    margin: 0;
    font-size: 22px;
}

.logo-link, .top-nav-link {
    color: #fff;
}

.top-nav-list {
    margin: 0;
}

.top-nav-item {
    font-size: calc(8px + (12 - 8) * ((100vw - 300px) / (1600 - 300)));
    text-transform: uppercase;
}

.hamburger-menu {
    position: relative; 
    margin-right: 0;
    width: 30%;
    float: right; 
}

.burger-slice {
    display: block;
    margin: 3px 0; 
    width: 20px;
    height: 3px;
    background: #fff;
    border-radius: 5px; 
}

.burger-list {
    position: absolute; 
    top: 20px;
    left: -95px; 
    z-index: 2; 
}

.burger-list-item {
    text-transform: uppercase;
    font-size: 12px; 
    opacity: 0.75;
}

.burger-link {
    color: #000;
}

.jumbo-sec {
    background: url(../media/turntables.jpeg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}

.jumboheader {
    font-size: 4em;
}

.jumbotext {
    text-transform: capitalize;
}



.following-count a, .follower-count a {
    color: #fff;
}

.search-section {
    padding: 30px 0;
}

.search {
    width: 30%;
    font-size: 12px;
    border-radius: 10px;
}

@media (max-width: 767px) {
    .search {
        width: 60%;
    }
}

.search-btn, .follow-btn {
    font-size: 10px;
    background: #222;
    text-transform: uppercase;
}


/* ------- cards ----------- */

.album-img {
    width: 100%;
}

@media (max-width: 767px) {
    .album-card {
        display: none; 
    }
}

.added-header {
    font-size: 16px; 
    color: #222;
}

.card-album-title {
    font-size: calc(10px + (18 - 10) * ((100vw - 300px) / (1600 - 300)));
}

.card-album-artist {
    font-size: calc(10px + (16 - 10) * ((100vw - 300px) / (1600 - 300)));
}

.card-text {
    font-size: calc(10px + (14 - 10) * ((100vw - 300px) / (1600 - 300)));
    margin: 0;
}

.card-footer a {
    font-size: calc(10px + (12 - 10) * ((100vw - 300px) / (1600 - 300)));
}

.see-more {
    font-size: calc(10px + (12 - 10) * ((100vw - 300px) / (1600 - 300)));
    text-transform: capitalize;
    text-decoration: underline;
    text-align: center; 
    color: var(--blue);
}

@media (min-width: 768px) {
    .see-more {
        display: none;
    }
}


/* -------- aside --------- */

.aside-header {
    font-size: 16px; 

}

.archive-list {
    margin-bottom: 30px;
    width: 90%;
    font-size: 12px;
}

.archive-link {
    color: #222;
}

.archive-link:hover {
    color: var(--blue);
}

.favorites, .wantlist {
    margin-bottom: 30px;
    width: 90%;
}

.fav-link, .want-link {
    color: #222;
}

.fav-album, .fav-artist, .want-album, .want-artist {
    font-size: 12px; 
    margin: 0;
}

.fav-img, .want-img, .collection-img {
    width: 100%;
}

/* .collection-img {
    width: 50%;
} */

.collection-title, .collection-artist {
    width: 80%;
    font-size: 12px;
}

/* -------- footer ----------- */

.footer {
    padding: 30px 0;
    background: #222;
    color: #fff
}

.footer-logo {
    font-size: 16px; 
}

.branding {
    font-size: 12px; 
}


@media (max-width: 767px) {
    .footer-logo, .branding {
        text-align: center;
    }
}


.colophon-text {
    font-size: 12px; 
    text-align: center; 
}

.social-div {
    display: flex;
    justify-content: center; 
    width: 100%;

}

.footer-list {
    font-size: 12px; 
    text-align: right; 
}

.list1 {
    text-align: center; 
}